<!-- <div class="hero">
    <h1>Bienvenido a xxxxxxxx</h1>
</div> -->

<app-hero></app-hero>

<app-navbar></app-navbar>

<h2>Mira los Menu's Digitales</h2>

<main>
  <app-card-list [numtarjetas]=3></app-card-list>
</main>

<section style="width: 100%;">

  <h2>Siguenos en nuestras redes sociales</h2>
  <div class="parallax center-elements-col background-black">
    <app-socialnetnav></app-socialnetnav>
    <div>
      <h3 style="color: white; text-align: center;">Brindanos tu opinion para seguir mejorando</h3>
    </div>

  </div>
</section>

<section>
  <h2>Unete sin costo el dia de hoy</h2>
</section>

<app-site-footer></app-site-footer>


