.hero{
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url("../../assets/images/new-york-668616_1920.jpg");
/* Set a specific height */
height: 100vh;
/* Position and center the image to scale nicely on all screens */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.promo1{
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
   url("../../assets/images/pexels-brett-jordan-842519.jpg");
}

.hero h1{
 color: white;
 text-transform: uppercase;
 text-align: center;
 padding: 0 1rem;
}
